/* PAGE */
.dashboard {
  min-height: 100vh;
  background-color: #fff6ee;
  padding: 50px 80px;
  box-sizing: border-box;
}

/* HEADER */
.dashboard-header h1 {
  font-family: "Playwrite US Trad", Helvetica, sans-serif;
  font-size: 34px;
  font-weight: 500;
  color: #7a2532;
  margin: 0;
  margin-top: -35px;
  margin-left: -65px;
}

.dashboard-header p {
  font-family: "Port Lligat Sans", Helvetica, sans-serif;
  font-size: 15px;
  color: #5c3a21;
  margin-top: 0px;
  margin-left: -58px;
}

/* CARD LAYOUT */
.dashboard-cards {
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  gap: 70px;
}

.cards-row {
  display: flex;
  justify-content: center;
  gap: 72px;
}

/* CARD */
.dashboard-card {
  width: 210px;
  height: 210px;
  display: flex;
  align-items: flex-start;
  padding-top: 48px;
  box-sizing: border-box;

  background: linear-gradient(180deg, #fffaf6 0%, #fff4ec 100%);
  border: 1.5px solid #5c3a21;
  border-radius: 28px;

  transition: transform 0.25s ease, box-shadow 0.25s ease;
}


/* CARD CONTENT */
.card-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* TEXT */
.card-title {
  font-family: "Port Lligat Sans", Helvetica, sans-serif;
  font-size: 23px;
  color: #5c3a21;
  margin: 0 0 24px 0;
  margin-top: -32px;
}

.card-number {
  font-family: "Playwrite US Trad", Helvetica, sans-serif;
  font-size: 48px;
  font-weight: 500;
  color: #7a2532;
  margin: 0;
}
