
/* PAGE */
.login-veeloops {
  position: relative;
  width: 100%;
  min-width: 1440px;
  min-height: 1024px;
  background-color: #fff6ee;
  font-family: "Playwrite US Trad", Helvetica, sans-serif;

}

/* LEFT PANEL */
.left-panel {
  position: absolute;
  top: 0;
  left: 0;
  width: 656px;
  height: 1024px;
  background-color: #f7b7cd;
}

.yarn-ball-image {
  position: absolute;
  top: 289px;
  left: 110px;
  width: 435px;
  height: 435px;
  object-fit: cover;
}

/* LOGIN CARD */
.login-card {
  position: absolute;
  top: 252px;
  left: 837px;

  width: 420px;
  height: 520px;

  background-color: #fff6ee;
  border-radius: 24px;
  border: 1px solid #5c3a21;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* TEXT INSIDE CARD */
.subtitle {
  position: absolute;
  top:5px;
  left: 110px;

  font-family: "Port Lligat Sans", Helvetica;
  font-size: 22px;
  color: #7a2532;
  opacity: 0.85;
}

.title {
  position: absolute;
  top: 25px;
  left: 109px;
  font-size: 40px;
  color: #7a2532;
  font-weight: 400;
}

.byline {
  position: absolute;
  top:110px;
  left: 231px;

  font-size: 16px;
  color: #5c3a21;
}

/* FORM */
.login-form {
  position: relative;
  width: 100%;
  height: 100%;
}

/* USERNAME */
.input-username {
  position: absolute;
  left:50px;
  top: 216px;

  width: 320px;
  height: 44px;

  padding: 8px 12px;
  font-size: 18px;

  background-color: #fffafa;
  border-radius: 12px;
  border: 1px solid #5c3a21;
  outline: none;
  font-family: "Playwrite US Trad", Helvetica, sans-serif;

}

/* PASSWORD */
.input-password {
  position: absolute;
  left: 50px;
  top: 282px;

  width: 320px;
  height: 44px;

  padding: 8px 12px;
  font-size: 18px;

  background-color: #fffafa;
  border-radius: 12px;
  border: 1px solid #5c3a21;
  outline: none;
 font-family: "Playwrite US Trad", Helvetica, sans-serif;

}

/* BUTTON */
.login-button {
  position: absolute;
  left: 120px;
  top: 368px;

  width: 180px;
  height: 40px;

  background-color: #f7b7cd;
  border-radius: 30px;
  border: none;

  font-size: 14px;
  color: #5c3a21;
  cursor: pointer;
 font-family: "Playwrite US Trad", Helvetica, sans-serif;

}
@media (max-width: 480px) {
  html,
  body {
    width: 100%;
    overflow-x: hidden;
  }

  .login-veeloops {
    min-width: 0;        /* THIS IS CRITICAL */
    width: 100%;
    min-height: 100vh;
    position: relative;
  }

  .left-panel {
    display: none;
  }

  .login-card {
    position: relative;
    top: 0;
    left: 0;

    margin: 32px auto;
    width: 90%;
    height: auto;
    padding-bottom: 40px;
  }

  .input-username,
  .input-password {
    position: relative;
    left: 0;
    top: 0;
    width: 90%;
    margin: 12px auto;
    display: block;
  }

  .login-button {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 20px;
  }
}

@media (max-width: 480px) {
  body {
    font-family: "Playwrite US Trad", cursive !important;
  }
}
