@media (max-width: 480px) {
  /* PAGE */
.login-veeloops {
  position: relative;
  width: 393px;
  min-width: 393pxpx;
  min-height: 850px;
  background-color: #fff6ee;
  font-family: "Playwrite US Trad", Helvetica, sans-serif;

}

  /* REMOVE DESKTOP PANEL */
  .left-panel {
    background: transparent;
    width: auto;
    height: auto;
  }

 .yarn-ball-image {
  position: relative;
  top: -30px;
  left: 75px;
  width: 231px;
  height: 231px;
  object-fit: cover;
 }

  /* LOGIN CARD */
.login-card {
  position: absolute;
  top: 200px;
  left: 40px;

  width: 299px;
  height: 411px;

  background-color: #fff6ee;
  border-radius: 24px;
  border: 1px solid #5c3a21;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  
}
/* TEXT INSIDE CARD */
.subtitle {
  position: absolute;
  top:-10px;
  left:68px;

  font-family: "Port Lligat Sans", Helvetica;
  font-size: 20px;
  color: #7a2532;
  opacity: 0.85;
}

.title {
  position: absolute;
  top: 10px;
  left: 70px;
  font-size: 34px;
  color: #7a2532;
  font-weight: 400;
}

.byline {
  position: absolute;
  top:87px;
  left: 185px;

  font-size: 12px;
  color: #5c3a21;
}
/* USERNAME */
.input-username {
  position: absolute;
  left:18px;
  top: 160px;

  width: 240px;
  height: 44px;

  padding: 8px 12px;
  font-size: 16px;

  background-color: #fffafa;
  border-radius: 12px;
  border: 1px solid #5c3a21;
  outline: none;
  font-family: "Playwrite US Trad", Helvetica, sans-serif;

}

/* PASSWORD */
.input-password {
  position: absolute;
  left: 18px;
  top: 240px;

  width: 240px;
  height: 44px;

  padding: 8px 12px;
  font-size: 16px;

  background-color: #fffafa;
  border-radius: 12px;
  border: 1px solid #5c3a21;
  outline: none;
 font-family: "Playwrite US Trad", Helvetica, sans-serif;

}
/* BUTTON */
.login-button {
  position: absolute;
  left: 90px;
  top: 320px;

  width: 120px;
  height: 35px;

  background-color: #f7b7cd;
  border-radius: 30px;
  border: none;

  font-size: 12px;
  color: #5c3a21;
  cursor: pointer;
 font-family: "Playwrite US Trad", Helvetica, sans-serif;
}
}
/* HARD STOP HORIZONTAL SCROLL */
html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

