@font-face {
  font-family: "PlaywriteUSTrad";
  src: url("./fonts/PlaywriteUSTrad-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

body {
  margin: 0;
  font-family: "PlaywriteUSTrad", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

img {
  max-width: 100%;
  height: auto;
}

.yarn-image {
  max-width: none;
}
